div {
  text-align: center;
  padding-bottom: 5%;
}
h1 {
  font-size: 15rem;
  text-align: center;
  padding: 7%;
}
a {
  color: inherit;
  padding: 2%;
  background-color: #c94930;
  border-radius: 10px;
  color: antiquewhite;
}
