#big_wrapper {
  width: 70vw;
  margin: 30px auto;
  min-height: 100vh;
  max-height: 100vh;
}
h1 {
  margin: 4% auto;
}

.btn-resa {
  background-color: #c94930;
  color: antiquewhite;
  width: 30%;
}
a {
  color: black;
}
p {
  margin-bottom: 5%;
}
.btn-link {
  color: black;
  width: 60%;
}
.btn-container {
  width: 100%;
  display: flex;
}
