<!-- Contact Section -->
<div id="contact" class="text-center p-5">
    <div class="container">

        <div class="center bg-dark text-white">
            <h2>Contact</h2>
            <hr class="mb-5">
        </div>

        <div class="col-md">
            <form name="contactForm" id="contactForm" (ngSubmit)="submit(f)" #f="ngForm">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="Name" required="required" minlength="3" [(ngModel)]="name" name="name" #nameInput="ngModel">
                        </div>
                        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                            Un nom ou un pseudo contenant au moins 3 caractères est requis.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Email" required="required" email [(ngModel)]="email" name="email" #emailInput="ngModel">
                        </div>
                        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                            Une adresse mail valide est requise.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message"
                        required="required" [(ngModel)]="message" name="message" #messageInput="ngModel"></textarea>
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                        Votre message est requis !
                    </div>
                </div>

                <button type="submit" class="btn text-white">Envoyer</button>
            </form>
        </div>



    </div>
</div>