#contact{
    min-height: 100vh;
}

.bg-dark{
    background-color:#343a40;
}

.btn{
   background-color:#c94930;
    border-radius:6px;
}

// div.dropdown-menu.show{
//     color:#9a9da0;
//     background-color:#343a40;
// }
// .dropdown-item:hover{
//     color:#9a9da0;
//     background-color:#343a40;
// }
