div.col {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

div.carousel-item img {
  max-width: 100%;
}

.relative {
  max-height: 100vw;
  width: 100vw;
  position: relative;
}
.infos-container {
  position: absolute;
  top: 50%;
  left: 45%;
  display: inline;
}
img {
  max-height: 100vh;
}
.title {
  color: whitesmoke;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-size: 2.5rem;
  font-weight: 700;
}
.btn-details {
  border: 1px solid #c94930;
  background-color: #c94930;
  color: white;
}
