<div class="container-fluid">
  <div class="details-wrapper">
    <section id="details_text">
      <h1>
        {{ show[0]?.title }}
        <button class="btn btn-resa  " [routerLink]="'/resa'">Réserver</button>
      </h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        laborum delectus, esse libero itaque veritatis aut pariatur, inventore
        qui magnam earum saepe ex! Nam voluptatem reprehenderit eligendi ex,
        vero quos. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatem facere quod voluptatum corrupti quia! Voluptatum optio ipsa
        sapiente harum voluptatem, et natus totam, adipisci, quos modi ullam
        provident asperiores enim? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Nostrum voluptatibus doloremque explicabo maiores
        dignissimos neque consequatur laudantium fuga? Sunt vitae perspiciatis
        labore repellat expedita nostrum velit commodi dolore eos amet. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Harum, saepe. Quia
        corporis quae consequatur debitis totam fugit voluptates, commodi non
        soluta in corrupti unde? Aliquam inventore minus mollitia recusandae
        rem.
      </p>
    </section>

    <section id="pics">
      <div class="img-container">
        <img
          src="./../../../../assets/images/details-pic1.jpg"
          class="rounded float-left img-thumbnail "
          alt="pic1"
        />
        <img
          src="./../../../../assets/images/details-pic1.jpg"
          class="rounded img-thumbnail "
          alt="pic2"
        />
        <img
          src="./../../../../assets/images/details-pic1.jpg"
          class="rounded float-right img-thumbnail"
          alt="pic3"
        />
      </div>
    </section>
    <app-live-show [collapse]="collapse"></app-live-show>
  </div>
</div>
