#details_text {
  width: 75vw;
  margin: auto;
}
.img-container {
  width: 80vw;
  margin: auto;
}
.description {
  margin-bottom: 50px;
}
.details-wrapper {
  margin: auto;
  text-align: center;
}
h1 {
  margin: 4% auto;
}
.btn-resa {
  background-color: #c94930;
  color: antiquewhite;
}
p {
  text-align: justify;
}
