* {
  overflow: hidden;
}
#details_text {
  width: 75vw;
  margin: auto;
  padding-bottom: 5%;
}
.img-container {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}
#pics > div > img {
  width: 30%;
  margin: auto;
}
.details-wrapper {
  margin: auto;
  min-height: 100vh;
  padding-bottom: 5%;
  text-align: center;
}
h1 {
  margin: 4% auto;
}
.btn-resa {
  background-color: #c94930;
  color: antiquewhite;
}
p {
  text-align: justify;
}
